.categories{
    width: 100%;
    margin: 0;
    padding: 10px 0 0 0;
    list-style: none;  
    -moz-box-shadow: 0 2px 1px #9c9c9c;
    -webkit-box-shadow: 0 2px 1px #9c9c9c;
    box-shadow: 0 2px 1px #9c9c9c;
}

.categories li{
    float: left;
    padding: 0 0 15px 0;
    position: relative;
    list-style: none;
}
.categories li a{
    float: left;
    height: 25px;
    padding: 0 25px;
    color: #999;
    text-transform: uppercase;
    font: bold 15px/25px Arial, Helvetica;
    text-decoration: none;
    text-shadow: 0 1px 0 #000;
}
li:hover > a{
    color: var(--color-red);
}

