.categories{
    width: 100%;
    margin: 0;
    padding: 10px 0 0 0;
    list-style: none;  
    box-shadow: 0 2px 0 #9c9c9c;
}

.categories li{
    float: left;
    padding: 0 20px 0;
    position: relative;
    list-style: none;
}
.categories li {
    float: left;
    height: 40px;
    padding: 0 30px;
    color: #999;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
}
li:hover {
    color: var(--color-red);
}

